<div class="container">
  <nav class="topnav" id="myTopNav">
    <div class="topnav-left">
      <a [routerLink]="['/recipes']" routerLinkActive="active">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <span>Recipes</span>
      </a>

      <a [routerLink]="['/saved']" routerLinkActive="active" *ngIf="auth.isLoggedIn()">
        Saved
      </a>
    </div>

    <div class="topnav-right">
      <a [routerLink]="['/newRecipe']" routerLinkActive="active" class="new-recipe-link" *ngIf="auth.isLoggedIn()">
        Add Recipe
      </a>

      <a [routerLink]="['/login']" routerLinkActive="active" *ngIf="!auth.isLoggedIn()">
        Sign In
      </a>

      <button
        type="button"
        class="nav-button"
        (click)="auth.logout().subscribe()"
        *ngIf="auth.isLoggedIn()"
      >
        Sign Out
      </button>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>